<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAS</title>
</head>
<body>
    <div margin-left="30%" margin-right="10%">
    <h1>RAS</h1>
        <form action="/reads" method="post">
            <h5>Enter links to read from:</h5>
            <textarea id="post-reads-input" type="text" name="reads" required rows="16" cols="128" minlength="1" maxlength="8192" size="64"></textarea>
            <br>
            <button id="post-reads-btn">Read</button>
        </form>
    </div>
    <script scr="index.js"></script>
</body>
</html>