<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAS</title>
</head>
<body>
    <h1>RAS</h1>
    <form action="/question" method="post">
        <h5>Enter links to read from:</h5>
        <textarea id="post-question-input" type="text" name="question" required rows="16" cols="64" minlength="1" maxlength="1024" size="32"></textarea>
        <br>
        <button id="post-question-btn">Question</button>
    </form>
    <script scr="index.js"></script>
    <h4><a href="/links">links</a></h4>
    <h4><a href="/questions">questions</a></h4>
    <script scr="index.js"></script>
</body>
</html>